body {
    background-color: rgb(255, 228, 196);
}

a {
    color: mediumblue;
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

a:visited {
    color: mediumvioletred;
}

img {
    height: auto;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, ul, li {
    text-align: center;
}

li {
    list-style-type: none;
}